{% extends "layout_not_in.html" %}
{% block title %}Change Current Password{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h3 class="page-header">
                Reset your password
            </h3>
            <div class="form-group row">
                <div class="col-sm-10 ">
                    {% include "_messages.html" %}
                </div>
            </div>
            <form method="post" class="form-horizontal">
                {% import '_forms.html' as forms %}

                {% for field in form %}
                    {{ forms.render_field(field) }}
                {% endfor %}

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary btn-lg">Reset Password</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-5">
            <h3 class="page-header">
                What should I do here?
            </h3>

            <div>
                <strong>How did you reach here?</strong>
                <p class="text-right text-justify" style="padding-left: 1em">
                    You have landed on this page as you used "Forgot Password" option to change your password.You must have clisked on the link received in your email. 
                </p>
            </div>
            <div>
                <strong>Input new password</strong>
                <p class="text-right text-justify" style="padding-left: 1em">
                    Input passwords to rest your old passwords. Once you are done you can use your new passwords to login to the account.
                </p>
            </div>

        </div>
    </div>
{% endblock %}
