{% extends "layout_not_in.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h3 class="page-header">
                Forgot password
            </h3>
            {% include "_messages.html" %}
            <form method="post" class="form-horizontal">
                {% import '_forms.html' as forms %}

                {% for field in form %}
                    {{ forms.render_field(field) }}
                {% endfor %}

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

                <br>
                <br>
                <div class="form-group">
                    <div class="col-sm-offset-2">
                        <a href="{{ url_for(".register") }}" class="btn btn-primary btn-xs">Register</a>
                        <a href="{{ url_for(".login") }}" class="btn btn-primary btn-xs">Login</a>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-md-5">
          <h3 class="page-header">
              How to reset my password?
          </h3>

          <div>
              <strong>Take it easy!</strong>
              <p class="text-right text-justify" style="padding-left: 1em">
                  If you have forgotten your password, don't worry! We will help you recover it. Just input the registred Email ID and we will send you an email.
              </p>
          </div>
          <div>
              <strong>Next steps</strong>
              <p class="text-right text-justify" style="padding-left: 1em">
                  The email sent by us will have a link, clicking on which you will be lead to a page to reset your password. If you don't receive the email form us, please check your SPAM folder or contact us as support[at]my-domain[dot]com
              </p>
            </div>

        </div>
    </div>
{% endblock %}
